*
{
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

.parallax1
{
    background-image: url("scr/img/bg2.jpg");
  
    min-height: 500px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hr
{
    color: rgb(255, 0, 0);
    background-color: rgb(134, 0, 0);
    height: 10px;
    border: 2px solid transparent;
}

.btn
{
    padding:  15px 15px 15px 15px;
    border-radius: 20px;
}